@charset "utf-8";
/**
** 功能：“服务与支持”样式设置
**开发者：赵兴英
**最后修改日期：2017.9.11
**/

/*服务与支持页轮播图*/

.service-view .banner-software {
    background: url("../images/service/service-software-banner.png") no-repeat;
    background-size: cover;
}
.service-view .banner-weChat {
    background: url("../images/service/service-wechat-banner.png") no-repeat;
    background-size: cover;
}
.service-view .banner-mobile {
    background: url("../images/service/service-mobile-banner.png") no-repeat;
    background-size: cover;
}
.service-view .banner-network {
    background: url("../images/service/service-network-banner.png") no-repeat;
    background-size: cover;
}
.service-view .banner-consultant {
    background: url("../images/service/service-consultant-banner.png") no-repeat;
    background-size: cover;
}

/*控制轮播切换*/
.service-view .tab {
    position: relative;
    min-width: 800px;
}
.service-view .tab > div {
    width: 100%;
    height: 105px;
    background-color: #ffffff;
    border-bottom: 1px solid #bcbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.service-view .tab > div > a {
    width: 250px;
    font-size: 1.125em;
    color: #909090;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.service-view .tab > div > a.active {
    color: #3c9de5;
}
.service-view .tab > div > a:first-child:before {
    content: url("../images/service/service-tab-1.png");
    margin-right: 10px;
}
.service-view .tab > div > a:nth-child(2):before {
    content: url("../images/service/service-tab-2.png");
    margin-right: 10px;
}
.service-view .tab > div > a:nth-child(3):before {
    content: url("../images/service/service-tab-3.png");
    margin-right: 10px;
}
.service-view .tab > div > a:nth-child(4):before {
    content: url("../images/service/service-tab-4.png");
    margin-right: 10px;
}
.service-view .tab > div > a:last-child:before {
    content: url("../images/service/service-tab-5.png");
    margin-right: 10px;
    margin-top: 5px;
}
.service-view .tab > .indicator {
    display: block;
    width: 250px;
    height: 2px;
    position: absolute;
    bottom: 1px;
    background-color: #3c9de5;
}
.service-view .smooth {
    transition: all 0.5s ease-out;
}
/*定制开发流程*/
.service-view .service-detail section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.service-view .service-detail .software > section:first-child {
    background-color: #f6f6f6;
    text-align: center;
}
h3, h4 {
    font-weight: 400;
    letter-spacing: 1px;
}
h3 {
    color: #303030;
    font-size: 1.75em;
    margin-top: 70px;
}
h4 {
    color: #3c9ce6;
    font-size: 1.25em;
    margin-top: 20px;
}
.service-view .service-detail section > h4 {
    margin-bottom: 70px;
}
.service-view .service-detail .full-img {

    width: 80%;
    padding-bottom: 60px;
    max-width: 1182px;
}
.service-view .service-detail .full-img > img {
    width: 100%;
}
.service-view .service-detail .software > section:last-child {
    background-color: #ffffff;
}
.service-view .service-detail .software > section:last-child > h4 {
    margin-bottom: 0;
}
.service-view .service-detail .software > section:last-child > .separate {
    margin-bottom: 40px;
}
.separate {
    margin-top: 28px;
}
.separate:before {
    content: url("../images/service/separate-line.png");
}
.service-view .service-detail .software > section:last-child > ul {
    width: 90%;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.service-view .service-detail .software > section:last-child > ul > li {
    padding-bottom: 30px;
    width: 33.3%;
}
/*鼠标悬浮时的过渡特效*/
.service-view .service-detail .software > section:last-child > ul > li > div {
    width: 100%;
    transition: all 0.4s ease-out;
}
/*添加背景图片*/
.service-view .service-detail .software > section:last-child > ul > li:first-child > div {
    background: url("../images/service/service-advantage-1.png") scroll no-repeat center center;
    background-size: 100%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(2) > div {
    background: url("../images/service/service-advantage-2.png") scroll no-repeat center center;
    background-size: 100%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(3) > div {
    background: url("../images/service/service-advantage-3.png") scroll no-repeat center center;
    background-size: 100%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(4) > div {
    background: url("../images/service/service-advantage-4.png") scroll no-repeat center center;
    background-size: 100%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(5) > div {
    background: url("../images/service/service-advantage-5.png") scroll no-repeat center center;
    background-size: 100%;
}
.service-view .service-detail .software > section:last-child > ul > li:last-child > div {
    background: url("../images/service/service-advantage-6.png") scroll no-repeat center center;
    background-size: 100%;
}
.service-view .service-detail .software section:last-child > ul > li > div img {
    width: 100%;
}
/*鼠标悬浮时*/
.service-view .service-detail .software > section:last-child > ul > li:first-child > div:hover {
    background-size: 120%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(2) > div:hover {
    background-size: 120%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(3) > div:hover {
    background-size: 120%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(4) > div:hover {
    background-size: 120%;
}
.service-view .service-detail .software > section:last-child > ul > li:nth-child(5) > div:hover {
    background-size: 120%;
}
.service-view .service-detail .software > section:last-child > ul > li:last-child > div:hover {
    background-size: 120%;
}
/*文本样式*/
.service-view .service-detail .software section:last-child > ul > li > span,
.service-view .service-detail .software section:last-child > ul > li > p {
    color: #303030;
    padding-left: 10px;
    padding-right: 19%;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 25px;
}
.service-view .service-detail .software section:last-child > ul > li > span {
    display: block;
    padding: 20px 0 23px 10px;
}
/*微信开发平台——核心服务*/
.service-view .weChat section:first-child {
    background-color: #f6f6f6;
    box-sizing: border-box;
    padding: 0 15% 70px;
}
.service-view .weChat section:first-child > div {
    max-width: 970px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.service-view .weChat section:first-child > div > div {
    width: 230px;
    color: #303030;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.service-view .weChat section:first-child > div > div:first-child:before {
    content: url("../images/service/wechat-1.png");
}
.service-view .weChat section:first-child > div > div:nth-child(2):before {
    content: url("../images/service/wechat-2.png");
}
.service-view .weChat section:first-child > div > div:last-child:before {
    content: url("../images/service/wechat-3.png");
}
.service-view .weChat section:first-child > div > div span {
    padding: 25px 0 20px;
    font-size: 1.25em;
    letter-spacing: 1px;
}
.service-view .weChat section:first-child > div > div p {
    width: 100%;
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 24px;
}
/*微信开发平台——微信建设优势*/
.service-view .service-detail .weChat section:last-child {
    background: url("../images/service/service-advantage-bg (1).png") no-repeat;
    background-size: cover;
    text-align: center;
}
.weChat section:last-child > h3, .weChat section:last-child > h4 {
    color: #ffffff;
}
.weChat section:last-child > h4 {
    margin-bottom: 0;
}
.weChat section:last-child .separate {
    margin-bottom: 100px;
}
.weChat section:last-child .full-img {
    margin-bottom: 120px;
}
/*移动互联网开发——IOS*/
.service-view .service-detail .mobile section {
    padding: 0 15% 120px;
}
.service-view .service-detail .mobile section:first-child {
    background-color: #f6f6f6;
}
.service-view .service-detail .mobile section > div {
    width: 100%;
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.service-view .service-detail .mobile section > div > p {
    width: 180px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.service-view .service-detail .mobile section:first-child > div > p:first-child {
    background: url("../images/service/mobile-1.png") no-repeat;
    background-size: contain;
}
.service-view .service-detail .mobile section:first-child > div > p:nth-child(2) {
    background: url("../images/service/mobile-2.png") no-repeat;
    background-size: contain;
}
.service-view .service-detail .mobile section:first-child > div > p:last-child {
    background: url("../images/service/mobile-3.png") no-repeat;
    background-size: contain;
}
.service-view .service-detail .mobile section > div > p > span {
    color: #666666;
    font-size: 1.75em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
}
.service-view .service-detail .mobile section > div > p > span:first-child {
    padding-top: 5px;
}
/*移动互联网开发——Android*/
.service-view .service-detail .mobile section:last-child > div > p:first-child {
    background: url("../images/service/mobile-4.png") no-repeat;
    background-size: contain;
}
.service-view .service-detail .mobile section:last-child > div > p:nth-child(2) {
    background: url("../images/service/mobile-5.png") no-repeat;
    background-size: contain;
}
.service-view .service-detail .mobile section:last-child > div > p:last-child {
    background: url("../images/service/mobile-6.png") no-repeat;
    background-size: contain;
}
/*网络运营服务——两大运营板块*/
.service-view .service-detail .network section {
    padding: 0 15% 70px;
}
.service-view .service-detail .network section:first-child {
    background-color: #f6f6f6;
}
.service-view .service-detail .network section:first-child > div {
    max-width: 1058px;
    width: 100%;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.service-view .service-detail .network section:first-child > div > div {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.service-view .service-detail .network section:first-child > div > div label,
.service-view .service-detail .network section:first-child > div > div p {
    width: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.service-view .service-detail .network section:first-child > div > div label {
    height: 80px;
}
/*产品运营*/
.service-view .service-detail .network section:first-child > div > div:first-child label {
    background: url("../images/service/network-1.png") no-repeat;
    background-size: cover;
}
.service-view .network section:first-child > div > div label span {
    color: #ffffff;
    letter-spacing: 1px;
}
.service-view .network section:first-child > div > div label span:first-child {
    font-size: 1.75em;
    font-weight: 500;
    padding-right: 20px;
}
.service-view .network section:first-child > div > div label span:last-child {
    font-size: 1em;
    padding-top: 10px;
}
.service-view .network section:first-child > div > div p {
    width: 100%;
    color: #303030;
    font-size: 1em;
    letter-spacing: 1px;
}
.service-view .network section:first-child > div > div:first-child p {
    line-height: 50px;
}
.service-view .network section:first-child > div > div:first-child p:nth-child(2) {
    padding-top: 30px;
}
.service-view .network section:first-child > div > div p:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #3c9de5;
    margin-right: 30px;
    border-radius: 50%;
}
/*新媒体运营*/
.service-view .network section:first-child > div > div:last-child label {
    background: url("../images/service/network-2.png") no-repeat;
    background-size: cover;
}
.service-view .network section:first-child > div > div:last-child p {
    line-height: 40px;
    border-left: 1px solid #eee;
}
.service-view .network section:first-child > div > div:last-child p:nth-child(2) {
    padding-top: 20px;
}
.service-view .network section:first-child > div > div p:last-child {
    padding-bottom: 20px;
}
/*网络运营服务——运营服务*/
.service-view .network section:last-child {
    padding: 0;
}
.service-view .network section:last-child h4 {
    margin-bottom: 0;
}
.service-view .network section:last-child > div {
    width: 80%;
    max-width: 1100px;
    padding: 70px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}
/*网络运营服务——运营服务——微信运营*/
.service-view .network .split-line {
    display: block;
    width: 100%;
    padding-bottom: 1px;
    border-top: 1px dashed #d0d0d0;
}
.service-view .network section:last-child > div > div {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.service-view .network section:last-child > div > div h5 {
    color: #3c9de5;
    font-size: 1.875em;
    font-weight: 400;
    letter-spacing: 1px;
}
.network .under-line {
    display: block;
    width: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #3c9de5;
}
.service-view .network section:last-child > div > div p {
    width: 100%;
    font-size: 1em;
    color: #666666;
    letter-spacing: 1px;
    padding-bottom: 10px;
    line-height: 40px;
}
.service-view .network section:last-child > div > img {
    width: 40%;
}
.service-view .network section:last-child > div:nth-child(3) > img {
    max-width: 319px;
}
.service-view .network section:last-child > div:nth-child(4) > img {
    max-width: 290px;
}
.service-view .network section:last-child > div:nth-child(5) > img {
    max-width: 308px;
}
.service-view .network section:last-child > div:last-child > img {
    max-width: 508px;
}
/*解决方案咨询——三大优势结合*/
.service-view .consultant section:first-child {
    background-color: #f6f6f6;
    padding-bottom: 60px;
}
.service-view .consultant .full-img {
    max-width: 1058px;
}
/*解决方案咨询——Aplus为您提供*/
.service-view .consultant section:last-child > div {
    width: 90%;
    max-width: 1196px;
    display: flex;
    justify-content: flex-start;
    align-items: center;flex-wrap: nowrap;
}
.service-view .consultant section:last-child > div > div {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.service-view .consultant section:last-child > div > img {
    width: 33%;
}
.service-view .consultant section:last-child > div > div:first-child {
    padding-right: 40px;
}
.service-view .consultant section:last-child > div > div:last-child {
    padding-left: 40px;
}
.service-view .consultant section:last-child > div > div > div {
    margin-bottom: 70px;
}
.service-view .consultant section:last-child > div > div > div:last-child {
    padding-top: 50px;
}
.service-view .consultant section:last-child > div > div > div h5 {
    color: #3c9de5;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 36px;
}
.service-view .consultant section:last-child > div > div > div p {
    color: #666666;
    line-height: 36px;
}








